include esa_climate_toolbox/ds/data/stores.yml
include esa_climate_toolbox/functions/country_data/countries.geojson
include esa_climate_toolbox/functions/country_data/README.md
include esa_climate_toolbox/util/im/data/categorical_colorschemes.yml
include esa_climate_toolbox/util/im/data/categorical_continuous_colorschemes.yml